*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100vh; 
} 

/* NAVBAR */
a{
    color: #fff;
    transition: all .3s ease-in;
    font-size: 1.1rem;
}
a:hover{
   color: blueviolet; 
   transition: all .3s ease-in;
}
.responsive_navbar{
    background-color:#222;
    color: red;
    padding-left: 30px;
    padding-right: 30px;  
    display: flex;
}
#logo_container{
    font-family: sans-serif;
    font-size: 2.7rem;
    font-weight: 900;
    background-image: -webkit-linear-gradient(right, rgb(153, 36, 36) 70%, rgb(8, 16, 126) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-right: 500px;
    cursor: pointer;
}
.navbar{
    display: flex;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-list li{
    padding-left: 40px;
}
.open_navbar{
    display: none;
}
.open_list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    justify-content: flex-start;
    background-color:#222;
    display: none;
    width: 375px;
    height: fit-content;
    padding-right: 50px;
}
.hamburger{
    display: none; 
}
.hamburger_two{
    display: none;
}
form{
    background-color: grey;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding-bottom: 20px;
}
.form_container input{
    outline: none;
    border-style: solid;
    border-color: #992424;
    padding-left: 20px;
    border-radius: 4px;
    font-size: 1.2rem;
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    position: relative; 
}
.password_container span{
    display: block;
}
i{
    position: absolute; 
    cursor: pointer;
    z-index: 4;
}
#first_passOpen, #confirmOpen{
    display: none;
}
#first_passOpen, #first_passSlashed{
    top: 330px;
    left: 780px;
}
#confirmOpen, #confirmSlashed{
    top: 405px;
    left: 780px;
} 
#confirmOpen{
    display: none;
}
.fa-eye, .fa-eye-slashed{
    display: none;
}
button{
    width: 300px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: black;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
}
button:active{
    transform: scale(.995);
}
.gender{
    margin-top: 20px;
    width: 300px;
}
.gender span{
    font-size: 1.2rem;
}
.gender select{
    width: 230px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1rem;
    border-style: solid;
    border-color: #992424;
    border-radius: 4px;
    border-width: 2px;
}
.error{
    color:rgb(194, 40, 40);
    text-align: left;
    visibility: hidden;
    font-size: 14px;
    font-weight: 700;
}

/* NAVBAR MEDIA QUERIES */

@media screen and (max-width: 375px){
    body{
        height: 100vh;
    }
    li{
        display: none;
    }
    .responsive_navbar{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
    }
    #logo_container{
        font-size: 1.6rem;
        width: max-content;
        padding-right: 90px;
    }
    .hamburger{
        display: block;
        width: fit-content;
        height: 40px; 
        color: #fff;
        cursor: pointer;
        transform: scale(.9);
        transition: all .3s ease-in-out;
    }
    .hamburger_row{
        background-color: #fff;
        height: 5px;
        width: 35px;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .hamburger_two{
        padding-top: 12px;
        display: none;
        width: fit-content;
        height: 40px; 
        color: #fff;
        cursor: pointer;
        transform: scale(.9);
        transition: all .3s ease-in-out;
    }
    .hamburger_row-two{
        background-color: #fff;
        height: 5px;
        width: 35px;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        display: block;
    }
    #one{
        position: absolute;
        transform: rotateZ(-45deg);
    }
    #two{
        display: none;
    }
    #three{
        position: absolute;
        transform: rotateZ(45deg);
    }
    .open_navbar{
        width: fit-content;
        height: fit-content;
        display: none;
        transition: all .3s ease-in-out;
        position: absolute;
        z-index: 4;
    }
    .open_list{
        display: flex;
        width: 100vw;
        height:fit-content;
        transition: all .3s ease-in-out;
        line-height: 8vh;
    }
    .open_list li{
        display: block; 
    }
    .form_container{
        position: relative;
    }
    .form_container input{
        width: 250px;
    }
    .gender{
        width: 250px;
    }
    .gender select{
        width: 180px;
    }
    button{
        width: 250px;
    }
    #first_passOpen, #first_passSlashed{
        top: 266px;
        left: 260px;
    }
    #confirmOpen, #confirmSlashed{
        top: 345px;
        left: 260px;
    } 
}
@media screen and (max-width: 425px){
    body{
        height: 100vh;
    }
    li{
        display: none;
    }
    .responsive_navbar{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
    }
    #logo_container{
        font-size: 1.6rem;
        width: max-content;
        padding-right: 120px;
    }
    .hamburger{
        display: block;
        width: fit-content;
        height: 40px; 
        color: #fff;
        cursor: pointer;
        transform: scale(.9);
        transition: all .3s ease-in-out;
    }
    .hamburger_row{
        background-color: #fff;
        height: 5px;
        width: 35px;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .hamburger_two{
        padding-top: 12px;
        display: none;
        width: fit-content;
        height: 40px; 
        color: #fff;
        cursor: pointer;
        transform: scale(.9);
        transition: all .3s ease-in-out;
    }
    .hamburger_row-two{
        background-color: #fff;
        height: 5px;
        width: 35px;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        display: block;
    }
    #one{
        position: absolute;
        transform: rotateZ(-45deg);
    }
    #two{
        display: none;
    }
    #three{
        position: absolute;
        transform: rotateZ(45deg);
    }
    .open_navbar{
        width: fit-content;
        height: fit-content;
        display: none;
        transition: all .3s ease-in-out;
        position: absolute;
        z-index: 4;
    }
    .open_list{
        display: flex;
        width: 100vw;
        height:fit-content;
        transition: all .3s ease-in-out;
        line-height: 8vh;
    }
    .open_list li{
        display: block; 
    }
    .form_container{
        position: relative;
    }
    .form_container input{
        width: 250px;
    }
    .gender{
        width: 250px;
    }
    .gender select{
        width: 180px;
    }
    button{
        width: 250px;
    }
    #first_passOpen, #first_passSlashed{
        top: 266px;
        left: 280px;
    }
    #confirmOpen, #confirmSlashed{
        top: 345px;
        left: 280px;
    } 
}
